[submodule "Base/vendor/spdlog"]
	path = Base/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Base/vendor/glm"]
	path = Base/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Base/vendor/entt"]
	path = Base/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Base/vendor/Box2D"]
	path = Base/vendor/Box2D
	url = https://github.com/erincatto/box2d
[submodule "Base/vendor/yaml-cpp"]
	path = Base/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Base/vendor/lodepng"]
	path = Base/vendor/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "Base/vendor/imgui"]
	path = Base/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Base/vendor/glfw"]
	path = Base/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Base/vendor/ImGuizmo"]
	path = Base/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Base/vendor/Lua"]
	path = Base/vendor/Lua
	url = https://github.com/lua/lua
[submodule "Base/vendor/debugbreak"]
	path = Base/vendor/debugbreak
	url = https://github.com/scottt/debugbreak
[submodule "Base/vendor/msdfgen"]
	path = Base/vendor/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
