[submodule "Base/vendor/spdlog"]
	path = Base/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Base/vendor/glm"]
	path = Base/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Base/vendor/libsndfile"]
	path = Base/vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "Base/vendor/entt"]
	path = Base/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Base/vendor/assimp"]
	path = Base/vendor/assimp
	url = https://github.com/assimp/assimp.git
	ignore = dirty
[submodule "Base/vendor/Box2D"]
	path = Base/vendor/Box2D
	url = https://github.com/erincatto/box2d
