**/bin/
bin-int/
Intermediates/

#Gimp File
*.[Xx][Cc][Ff]

*.log

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

Base/vendor/Lua/*
#add all .lua
!*.lua
!*/Basetor/assets/font/
!premake5.exe
!*/Basetor/mono/*

#misc

#specific
#Base include subdirs
Base/include
